In [ ]:
%run -i Scraping.py

In [7]:
csv_2000_to_2019.head(20)

,Países,Inmigrantes hombres,Inmigrantes mujeres,Inmigrantes,% Inmigrantes,Var.,year
0,España,838.058,819.227,1.657.285,"4,08%","1,52",2000
1,Alemania,4.503.666,4.488.965,8.992.631,"10,93%","1,81",2000
2,Reino Unido,2.228.628,2.501.537,4.730.165,"8,02%","0,87",2000
3,Francia,3.092.789,3.185.929,6.278.718,"10,30%","0,07",2000
4,Italia,976.691,1.144.997,2.121.688,"3,72%","0,60",2000
5,Portugal,320.319,331.153,651.472,"6,31%","1,00",2000
6,Estados Unidos,17.310.785,17.503.268,34.814.053,"12,34%","1,66",2000
7,Japón,796.928,889.516,1.686.444,"1,33%","0,24",2000
8,China,254.082,253.952,508.034,"0,04%",0,2000
9,Andorra,22.093,20.054,42.147,"64,01%","-5,21",2000
10,Emiratos Árabes Unidos,1.757.200,689.810,2.447.010,"81,70%","6,04",2000
11,Afganistán,42.848,33.069,75.917,"0,37%","-0,02",2000
12,Antigua y Barbuda,10.316,12.755,23.071,"30,36%","4,17",2000
13,Albania,35.990,40.705,76.695,"2,50%","0,22",2000
14,Armenia,270.170,387.730,657.900,"20,46%","-0,90",2000
15,Angola,23.367,22.741,46.108,"0,27%",0,2000
16,Argentina,717.924,822.295,1.540.219,"4,19%","-0,40",2000
17,Austria,478.318,518.229,996.547,"12,42%","1,17",2000
18,Australia,2.189.900,2.196.350,4.386.250,"22,92%",0,2000
19,Azerbaiyán,141.161,186.379,327.540,"4,05%","-0,40",2000