In [ ]:
%run -i Scraping.py

In [2]:
df_complete = csv_2000_to_2019

In [4]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl

mpl.style.use('bmh')

Se realizan distintas operaciones para ver la composición del dataframe

In [5]:
df_complete.shape

(1168, 7)

In [6]:
df_complete.head(1)

,Países,Inmigrantes hombres,Inmigrantes mujeres,Inmigrantes,% Inmigrantes,Var.,year
0,España,838.058,819.227,1.657.285,"4,08%","1,52",2000

In [7]:
df_complete.columns

Index(['Países', 'Inmigrantes hombres', 'Inmigrantes mujeres', 'Inmigrantes',
       '% Inmigrantes', 'Var.', 'year'],
      dtype='object')

In [8]:
df_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1168 entries, 0 to 194
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Países               1168 non-null   object
 1   Inmigrantes hombres  1168 non-null   object
 2   Inmigrantes mujeres  1168 non-null   object
 3   Inmigrantes          1168 non-null   object
 4   % Inmigrantes        1168 non-null   object
 5   Var.                 1168 non-null   object
 6   year                 1168 non-null   object
dtypes: object(7)
memory usage: 73.0+ KB

In [9]:
df_complete.describe()

,Países,Inmigrantes hombres,Inmigrantes mujeres,Inmigrantes,% Inmigrantes,Var.,year
count,1168,1168,1168,1168,1168,1168,1168
unique,195,1150,1146,1152,766,398,6
top,España,1.421,1.111,7.124,"0,40%",0,2010
freq,6,2,3,2,7,65,195